:host {
  display: block;
  border: 1px solid grey;
  padding: 12px 0 12px 12px;
  margin-top: 12px;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.2s ease;

  &:hover {
    border-color: #666;
    background-color: #f9f9f9;
  }
}

.todo-item-container {
  transition: all 0.3s ease;
  position: relative;
  
  &.disabled {
    opacity: 0.6;
    pointer-events: none;
  }
  
  &.deleting {
    opacity: 0.2;
  }

  .task-indicator {
    display: inline-block;
    width: calc(100% - 37px);
    position: relative;
  
    .deleting-indicator {
      font-weight: bold;
      margin-left: 10px;
      color: #ff0000;
    }
  }
  
  .priority-indicator {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0;
    border-left: 1px dotted black;
    vertical-align: top;
  }
}